<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7289157601697315"
     crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bible IA - Sua Chave Bíblica Moderna</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Início", root_path %>
      <%= link_to "Planos", princing_index_path %>
      <%= link_to "Sobre", about_index_path %>

    </header>
    <%= yield %>
  </body>
</html>
